{% extends 'base.html' %}

{% block title %}User {{ post.title }} Page{% endblock %}

{% block content %}
<!-- post_page - used for test -->

<h1>{{post.title}}</h1>

{% if post.content %}
  <p>{{ post.content }}</p>
{% endif %}

<p>By {{ post.user.first_name }} {{ post.user.last_name }}</p>
<form action="/posts/{{post.id}}/delete" method="POST">
  <a href="/users/{{ post.user.id }}" class="btn btn-primary">Cancel</a>
  <a href="/posts/{{ post.id }}/edit" class="btn btn-primary">Edit</a>
  <button type="'submit" class="btn btn-primary">Delete</button>
</form>

{% endblock %}